<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="round-image-50">
    <img id="signUpAvatar" src="images/thumb/missing.png" alt="" />
  </div>

  <fieldset class="form-group">
    <%= f.file_field :avatar, id: 'imgInp' %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.text_field :f_name, autofocus: true, class: 'form-control', placeholder: 'First name' %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.text_field :l_name, class: 'form-control', placeholder: 'Last name' %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.text_field :username, class: 'form-control', placeholder: 'Username' %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.text_field :postcode, class: 'form-control', placeholder: 'Postcode' %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.text_field :phone, class: 'form-control', placeholder: 'Mobile phone number' %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.email_field :email, class: 'form-control', placeholder: 'Email address' %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirm Password' %>
  </fieldset>

  <div class="actions">
    <%= f.submit "Sign up", class: 'btn btn-primary' %>
  </div>
<% end %>
