
<div class="container user-profiles">
  <div class="row">
    <div class="col-md-8 col-sm-8">
      <div class="panel panel-default arrow left">
        <div class='panel-body'>
          <h5 class='card-title'><span class="round-image-50"><%= image_tag(@user.avatar.url(:thumb)) %></span> <%= @user.username %></h5>
          <%= if @user == current_user %>
          <%= link_to 'Edit Profile', edit_user_registration_path %>
          <% end %>
          <p class='card-text'>First name: <%= @user.f_name %></p>
          <p class='card-text'>Last name: <%= @user.l_name %></p>
          <p class='card-text'>Username: <%= @user.username %></p>
          <p class='card-text'>Postcode: <%= @user.postcode %></p>
          <p class='card-text'>Joined LocalHost on: <%= @user.created_at.to_formatted_s(:long_ordinal) %></p>
          <%= average_stars(@user.average_rating) %> (<%= @user.reviews.count %>)
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container user-profiles" >
  <div class="row">
    <div class="col-md-8 col-sm-8">
      <div class="panel panel-default arrow left">
        <div class='panel-body'>
          <h5 class='card-title'><span class="round-image-50"> What people have said about <%= @user.username %>'s tours: </h5>
          <% @user.reviews.each do |review| %>
          <h5 class='review-text'> <%= review.rating %></h5>
          <p class='review-text'> <%= review.description %>
          <p class+'review-text'> <%= review.created_at %>
        </div>
      </div>
    </div>
  </div>
</div>
