<div class="container-fluid">
  <div ng-controller="LocationController as location">
    <h1>{{location.userLocationArea.results[0].formatted_address}}</h1>

    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <%= form_for @request do |f| %>
              <%= f.label :location %>
              <%= f.text_field :location %>
              <br></br>
              <%= f.label :description %>
              <%= f.text_area :description %>
              <br></br>
              <%= f.submit 'Submit' %>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

    <div id="map"></div>

  </div>
</div>
