
<% if @requests.any? %>
  <div class="container comment-list">
    <% @requests.each do |request| %>
      <div class="row">

        <%= render 'single_card', request: request %>

          <% request.replies.each.with_index(1) do |reply, index| %>
            <div class="col-md-8 col-sm-8">
              <div class="panel panel-default arrow left">
                <div class='panel-body'>
                  <% @reviews.each do |review| %>
                    <h5 class='card-title'><span class="round-image-50"><%= image_tag(reply.user.avatar.url(:thumb)) %></span> <%= reply.user.username %> <%= review.average_stars(calculate_user_average_rating(@reviews)) %></h5>
                  <% end %>
                  <p class='card-text'>Duration: <%= reply.duration %> hours</p>
                  <p class='card-text'>Cost: £<%= reply.cost %></p>
                  <p class='card-text'>Description: <%= reply.description %></p>
                  <p class='card-text'>Meeting point: <%= reply.meeting_point %></p>
                  <p class='card-text'>Stopoffs: <%= reply.stopoffs %></p>
                  <% if reply.user == current_user %>
                    <%= link_to 'Update', edit_request_reply_path(request, reply) %>
                    <%= link_to 'Delete', request_reply_path(request, reply), method: :delete %>
                  <% end %>
                  <% if request.user == current_user && request.resolved == false %>
                      <%= link_to 'Choose', choose_request_reply_path(request, reply), method: :post %>
                        <a href="#" data-toggle="modal" data-target="#reviewModal">Leave a review</a>
                        <%= render 'reviews/modal_review', request: request, reply: reply %>
                  <% end %>
                    <div ng-controller="ReplyPicsController as rpCtrl" class="content">
                      <div ng-init="rpCtrl.getImages(<%=reply.id%>)" ng-show="rpCtrl.showImages">
                        <ng-gallery images="rpCtrl.images" thumbs-num="rpCtrl.images.length"></ng-gallery>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>
<% else %>
  <h3> You have not made any requests yet. </h3>
<% end %>
