<ul>
  <% @requests.each do |request| %>
    <div class="col-md-4">
      <div class="request-block">
        <div class="round-image-50"><%= image_tag(request.user.avatar.url(:thumb)) %></div>
        <div class="info">
          <%= request.user.username %>
          <li> Request for a tour in: <%= request.location %></li>
          <li> Details: <%= request.description %></li>
          <li> Budget: <%= request.budget %></li>
          <li> Requested date: <%= request.request_date %></li>
          <% unless request.user == current_user %>
            <%= link_to 'Reply', new_request_reply_path(request.id) %>
          <% end %>
          <% if request.user == current_user %>
            <%= link_to 'Delete', request_path(request), method: :delete %>
            <%= link_to 'Update', edit_request_path(request) %>
          <% end %>
        </div>
      </div>
    </div>

      <div class="col-md-8">
        <% request.replies.each.with_index(1) do |reply, index| %>
          <div class="request-block">
            <div class="round-image-50"><%= image_tag(reply.user.avatar.url(:thumb)) %></div>
            <div class="info">
              <%= reply.user.username %>
              <li> Duration: <%= reply.duration %> hours</li>
              <li> Cost: £<%= reply.cost %></li>
              <li> Description: <%= reply.description %></li>
              <li> Meeting point: <%= reply.meeting_point %></li>
              <li> Stopoffs: <%= reply.stopoffs %></li>
              <% if reply.user == current_user %>
                <%= link_to 'Update', edit_request_reply_path(request, reply) %>
                <%= link_to 'Delete', request_reply_path(request, reply), method: :delete %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
  <% end %>
</ul>
