<ul>
  <% if @requests %>
  <% @requests.each.with_index(1) do |request, index| %>
    <h1> Request number <%=index%></h1>
      <li> Request for a tour in: <%= request.location %></li>
      <li> Details: <%= request.description %></li>
      <li> Budget: <%= request.budget %></li>
      <li> Requested date: <%= request.request_date %></li>
      <%= link_to 'Reply', new_request_reply_path(request.id) %>
      <% if request.user_id == current_user.id %>
        <%= link_to 'Delete', request_path(request), method: :delete %>
        <%= link_to 'Update', edit_request_path(request) %>
      <% end %>

      <% request.replies.each.with_index(1) do |reply, index| %>
        <h3> Reply number <%=index%> from <%= reply.find_user(reply.user_id) %></h3>
          <li> Duration: <%= reply.duration %> hours</li>
          <li> Cost: £<%= reply.cost %></li>
          <li> Description: <%= reply.description %></li>
          <li> Meeting point: <%= reply.meeting_point %></li>
          <li> Stopoffs: <%= reply.stopoffs %></li>
          <% if reply.user_id == current_user.id %>
            <%= link_to 'Update', edit_request_reply_path(request, reply) %>
            <%= link_to 'Delete', request_reply_path(request, reply), method: :delete %>
          <% end %>
      <% end %>
  <% end %>
  <% else %>
  <h3> You have not yet made any requests </h3>
<% end %>
</ul>
