<div class="container comment-list">

<% @requests.each do |request| %>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-responsive" src="https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=300x125&maptype=roadmap&center=<%=request.location%>" alt="Card image cap">
        <div class='card-block'>
          <h3 class='card-title'><%= request.location %></h4>
          <h5 class='card-title'><%= request.user.username %><span class="round-image-50"> <%= image_tag(request.user.avatar.url(:thumb)) %></span></h5>
          <p class="card-text">Details: <%= request.description %></p>
          <p class="card-text">Budget: <%= request.budget %></p>
          <p class="card-text">Requested date: <%= request.request_date %></p>
          <% unless request.user == current_user %>
            <%= link_to 'Reply', new_request_reply_path(request.id), class: 'card-link' %>
          <% end %>
          <% if request.user == current_user %>
            <%= link_to 'Delete', request_path(request), method: :delete, class: 'card-link' %>
            <%= link_to 'Update', edit_request_path(request), class: 'card-link' %>
          <% end %>
        </div>
      </div>
    </div>

    <% request.replies.each.with_index(1) do |reply, index| %>
      <div class="col-md-8 col-sm-8">
        <div class="panel panel-default arrow left">
          <div class='panel-body'>
            <h5 class='card-title'><span class="round-image-50"><%= image_tag(reply.user.avatar.url(:thumb)) %></span> <%= reply.user.username %></h5>
            <p class='card-text'>Duration: <%= reply.duration %> hours</p>
            <p class='card-text'>Cost: £<%= reply.cost %></p>
            <p class='card-text'>Description: <%= reply.description %></p>
            <p class='card-text'>Meeting point: <%= reply.meeting_point %></p>
            <p class='card-text'>Stopoffs: <%= reply.stopoffs %></p>
            <% if reply.user == current_user %>
              <%= link_to 'Update', edit_request_reply_path(request, reply) %>
              <%= link_to 'Delete', request_reply_path(request, reply), method: :delete %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

  </div>
<% end %>

</div>
