<% if @requests.any? %>
  <div class="container comment-list">
    <% @requests.each do |request| %>
      <div class="row">
        <%= render 'single_card', request: request %>

          <% request.replies.each.with_index(1) do |reply, index| %>
            <div class="col-md-8 col-sm-8">
              <div class="panel panel-default arrow left">
                <div class='panel-body'>
                  <h5 class='card-title'><span class="round-image-50"><%= image_tag(reply.user.avatar.url(:thumb)) %></span> <%= reply.user.username %></h5>
                  <p class='card-text'>Duration: <%= reply.duration %> hours</p>
                  <p class='card-text'>Cost: £<%= reply.cost %></p>
                  <p class='card-text'>Description: <%= reply.description %></p>
                  <p class='card-text'>Meeting point: <%= reply.meeting_point %></p>
                  <p class='card-text'>Stopoffs: <%= reply.stopoffs %></p>
                  <% if reply.user == current_user %>
                    <%= link_to 'Update', edit_request_reply_path(request, reply) %>
                    <%= link_to 'Delete', request_reply_path(request, reply), method: :delete %>
                  <% end %>
                  <% if request.user == current_user && request.resolved == false %>
                      <%= link_to 'Choose', choose_request_reply_path(request, reply), method: :post %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>
<% else %>
  <h3> You have not made any requests yet. </h3>
<% end %>
