<div class="collapse navbar-collapse" id="navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
     <% if current_user %>
       <li><%= link_to 'Edit Profile',edit_user_registration_path %></li>
       <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>

       <li><a href="#" data-toggle="modal" data-target="#myModal">Request a tour</a></li>

       <li><%= link_to 'My requests', requests_path %></li>
       <li class="round-image-50"><%= image_tag(current_user.avatar.url(:thumb)) %></li>
     <% else %>
      <li><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
      <li><a href="#" data-toggle="modal" data-target="#signUpModal">Sign Up</a></li>

      <%= render "devise/sessions/login" %>
      <%= render "devise/registrations/signup" if controller_name != 'registrations' %>

     <% end %>
  </ul>
</div>
