<!DOCTYPE html>
<html>
<head>
  <title>LocalKnowledge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEzlB7nYu2_PW8TUkQ80q3GAmdz2GW96c" async defer></script>
</head>
<body ng-app="LocalKnowledgeApp">
<div class="collapse navbar-collapse" id="navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
     <% if current_user %>
     <li><%= link_to 'Edit Profile',edit_user_registration_path %></li>
     <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
     <li><%= link_to 'Request a tour', new_request_path %></li>
     <li><%= link_to 'My requests', requests_path %></li>
     <li class="round-image-50"><%= image_tag(current_user.avatar.url(:thumb)) %></li>
     <% else %>
     <li><%= link_to 'Login', new_user_session_path %></li>
     <% end %>
  </ul>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
