<!DOCTYPE html>
<html>
<head>
  <title>LocalKnowledge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEzlB7nYu2_PW8TUkQ80q3GAmdz2GW96c" async defer></script> -->
</head>
<body ng-app="LocalKnowledgeApp">

  <%= render "layouts/header" %>

  <%= flash_messages %>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
