<!DOCTYPE html>
<html ng-app="LocalKnowledgeApp">
<head>
  <title>LocalHost</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places,geometry" async defer></script>
</head>
<body>

    <%= flash_messages %>

    <% if user_signed_in? %>
      <div id="wrapper">
        <%= render "layouts/sidebar" %>
        <% unless current_user %>
          <%= render "devise/sessions/login" %>
          <%= render "devise/registrations/signup" if controller_name != 'registrations' %>
        <% end %>
        <div id="page-content-wrapper">
          <%= yield %>
        </div>
      </div>
    <% else %>
      <% unless current_user %>
        <%= render "devise/sessions/login" %>
        <%= render "devise/registrations/signup" if controller_name != 'registrations' %>
      <% end %>
      <%= yield %>
    <% end %>

</body>
</html>
